<h1>Edit Shopping List<h1>
<p><%= @error %></p>
<form action="/games/<%=@game.id%>%" method="post">
    <label>TItle</label>
    <input type="text" name="title"> 
    <label>Type</label>
    <input type="text" name="genre">
    <label>Rating</label>
    <input type="text" name="rating">
    <br>
    <button type="submit">Edit List</button>

</form>