<h1>Create a Shopping List<h1>

<form action="/games" method="post">
    <label>TItle</label>
    <input type="text" name="title"> 
    <label>Type</label>
    <input type="text" name="type">
    <label>Rating</label>
    <input type="text" name="rating">
    <br>
    <button type="submit">Add List</button>

</form>