<h1>Create a Shopping List<h1>
<p><%= @error %></p>
<form action="/games" method="post">
    <label>Name Your List!</label>
    <input type="text" name="list_name">
    <br>
    <label>Title</label>
    <input type="text" name="title"> 
    <label>Type</label>
    <input type="text" name="genre">
    <label>Rating</label>
    <input type="text" name="rating">
    <br>

    <%# <label>Title</label>
    <input type="text" name="title"> 
    <label>Type</label>
    <input type="text" name="genre">
    <label>Rating</label>
    <input type="text" name="rating"> %>
    <br>
    <button type="submit">Add List</button>

</form>